<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="NLog.Appsettings.Standard" />
	</extensions>

	<targets>		
		<target name="dbTarget" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection,Microsoft.Data.SqlClient"
				connectionString="${appsettings:name=ConnectionStrings.DamageReport}">				

			<commandText>
				INSERT INTO [SweatFelx].[dbo].[Logs]([LogDate], [LogLevel], [LogMessage], [Machinename]) 
				VALUES (@logDate, @logLevel, @logMessage, @machinename);
			</commandText>

			<parameter name="@logDate" layout="${longdate}" dbType="DateTime"/>
			<parameter name="@logLevel" layout="${level}"/>
			<parameter name="@logMessage" layout="${message}"/>
			<parameter name="@machinename" layout="${machinename}"/>
		</target>
	</targets>

	<rules>
		<logger name="IPLoggerRule" minlevel="Warn" writeTo="dbTarget" />		
	</rules>
</nlog>